html {
  user-select: none
}
#Map {
  position: absolute;
  top: 3%;
  left: 2%;
  width: 65%;
  aspect-ratio:3/2;
  background:#202020;
  line-height: 1.2;
  }
#Map div {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: flex; 
  position: absolute;
  background:#808080;
}
#Map .Block {
  outline: 0.1vw solid #404040;
  outline-offset: -0.09vw;
}
#Map .Exist {
  background:#c0c0c0;
  color:#000000;
}
#Map .Block span {
  flex: 1;
  font-size: .75vw;
}
#Map .VW12 span {
  font-size: 1.2vw;
}
#Map .Exist:hover {
  color:#ffffff;
  background:#000000;
}
#Map #SW {
  top: 0%;
  left: 0%;
  width: 10%;
  height: 10%;
}
#Map #SW span {
  font-size: 2vw;
}
.VV {
  visibility: visible;
  pointer-events: auto;
  animation: fadein 0.3s 0s ease-in forwards
}
.HD {
  visibility: hidden;
  pointer-events: none;
  animation: fadeout 0.3s 0s ease-in forwards
}
.VV05 {
  visibility: visible;
  pointer-events: auto;
  animation: fadein-05 0.3s 0s ease-in forwards
}
.HD05 {
  visibility: hidden;
  pointer-events: none;
  animation: fadeout-05 0.3s 0s ease-in forwards
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }}
@keyframes fadein-05 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }}
@keyframes fadeout-05 {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }}
#Map #B0 {
  top: 84%;
  left: 47%;
  width: 6%;
  height: 16%;
}
#Map #B1 {
  top: 47%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B2 {
  top: 39%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B3 {
  top: 31%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B4 {
  top: 55%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B5 {
  top: 47%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B6 {
  top: 39%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B7 {
  top: 31%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B8 {
  top: 47%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B9 {
  top: 39%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B10 {
  top: 31%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B11 {
  top: 55%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B12 {
  top: 47%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B13 {
  top: 39%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B14 {
  top: 31%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B15 {
  top: 47%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B16 {
  top: 39%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B17 {
  top: 31%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B18 {
  top: 55%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B19 {
  top: 47%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B20 {
  top: 39%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B21 {
  top: 31%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #B22 {
  top: 47%;
  left: 74%;
  width: 10%;
  height: 21%;
}
#Map #B23 {
  top: 0%;
  left: 71%;
  width: 13%;
  height: 32%;
}
#Map #B24 {
  top: 68%;
  left: 0%;
  width: 16%;
  height: 32%;
}
#Map #B25 {
  top: 68%;
  left: 35%;
  width: 10%;
  height: 16%;
}
#Map #B26 {
  top: 92%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B27 {
  top: 68%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B28 {
  top: 92%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B29 {
  top: 68%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B30 {
  top: 92%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B31 {
  top: 68%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B32 {
  top: 92%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B33 {
  top: 68%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B34 {
  top: 42%;
  left: 13%;
  width: 7%;
  height: 21%;
}
#Map #B35 {
  top: 42%;
  left: 13%;
  width: 7%;
  height: 21%;
}
#Map #B36 {
  top: 42%;
  left: 23%;
  width: 6%;
  height: 11%;
}
#Map #B37 {
  top: 53%;
  left: 23%;
  width: 6%;
  height: 10%;
}
#Map #B38 {
  top: 84%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B39 {
  top: 0%;
  left: 90%;
  width: 10%;
  height: 16%;
}
#Map #B40 {
  top: 84%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B41 {
  top: 76%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B42 {
  top: 84%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B43 {
  top: 76%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B44 {
  top: 84%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B45 {
  top: 76%;
  left: 27%;
  width: 5%;
  height: 8%;
}
#Map #B46 {
  top: 84%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B47 {
  top: 76%;
  left: 19%;
  width: 5%;
  height: 8%;
}
#Map #B48 {
  top: 92%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B49 {
  top: 55%;
  left: 32%;
  width: 5%;
  height: 8%;
}
#Map #B50 {
  top: 55%;
  left: 40%;
  width: 5%;
  height: 8%;
}
#Map #B51 {
  top: 55%;
  left: 48%;
  width: 5%;
  height: 8%;
}
#Map #CO1 {
  top: 63%;
  left: 13%;
  width: 52%;
  height: 5%;
  background:#404040;
}
#Map #CO2 {
  top: 63%;
  left: 6%;
  width: 68%;
  height: 5%;
  background:#404040;
}
#Map #CO3 {
  top: 32%;
  left: 71%;
  width: 3%;
  height: 31%;
  background:#404040;
}
#Map #NE1 {
  top: 39%;
  left: 60%;
  width: 5%;
  height: 24%;
  background:#808080;
}
#Map #NE2 {
  top: 68%;
  left: 60%;
  width: 5%;
  height: 32%;
  background:#808080;
}
#Map #NE3 {
  top: 39%;
  left: 60%;
  width: 5%;
  height: 24%;
  background:#808080;
}
#Map #NE4 {
  top: 68%;
  left: 60%;
  width: 5%;
  height: 32%;
  background:#808080;
}

#Link {
  position: absolute;
  top: 3%;
  left: 68%;
  width: 30%;
  aspect-ratio:9/13;
  background:#202020;
  line-height: 1.2;
}
#Link div {
  text-align: center;
  align-items: center;
  display: flex; 
  outline: 0.1vw solid #202020;
  outline-offset: -0.09vw;
}
#Link span {
  flex: 1;
  font-size: 3vw;
}
#Link #Place {
  text-decoration: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 12.5%;
  background:#404040;
  color: #808080;
}
#Link .Links {
  text-decoration: none;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 12.5%;
  background:#c0c0c0;
  color: #000000;
}
#Link .Links:hover {
  background:#000000;
  color: #ffffff;
}
#Info {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  aspect-ratio:2/1;
  background:#202020;
}
#InfoBG {
  position: fixed;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.5;
  background:#000000;
  transition: 0.3s ease-in-out;
}
#Info #Close {
  position: absolute;
  width: 6%;
  aspect-ratio:1/1;
  top: 0%;
  left: 94%;
  background:#FFFFFF;
  transition: 0.3s ease-in-out;
}
#Info #Close:hover {
  background:#000000;
}
#Info #Close::before,
#Info #Close::after{
    content: "";
    display: block;
    width: 80%;/*バツ線の長さ*/
    height: 0.8vw;/*バツ線の太さ*/
    background: #000000;
    transform: rotate(45deg);
    transform-origin:0% 50%;
    position: absolute;
    top: calc(21.5% - 0.4vw);
    left: 21.5%;
}
#Info #Close::after{
    transform: rotate(-45deg);
    transform-origin:100% 50%;
    left: auto;
    right: 21.5%;
}
#Info #Close:hover::before,
#Info #Close:hover::after {
    background: #ffffff;
}
#Info #InfoALL {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 4vw;
  line-height: 1.2;
}
#Info #InfoGr {
  color:#c0c0c0;
}
#Info #InfoPl {
  position: relative;
  left: 10%;
  font-size: 2.5vw;
  color:#606060;
}
#Info #InfoTi {
  color:#ffffff;
  white-space: pre;
}
#Info #InfoEx {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  color:#c0c0c0;
  font-size: 2.5vw;
  line-height: 1.2;
}
